@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
*{
    font-family:'Raleway' ;
    color: rgb(0, 0, 0);
    font-weight: bold ;
    
}

body{
    background-color: #e6e6e6;
}

.bg-secondary-color{
    background-color: #b47b24;
}
.bg-primary-color{
    background-color: #b3b3b3;
}
.primary-color{
    color: rgb(0, 0, 0);
}
.secondary-color{
    color: rgb(0, 0, 0);
}

/*nav-bar*/
#navbar{
    color: #fff;
}
#navbar a:hover{
    color: rgb(245, 245, 245);
    font-weight: bold;
}
#navbar a.active{
    border-bottom:1px solid rgb(173, 5, 5);
}
.navbar-brand img{  
    width: 150px;
    border-radius: 50%;
}   
.navbar-brand {
    display: flex;
}
.navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: .5em;
}
/*
i{
    position: relative;
    top: 10px;
} */
.navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: .5em;
    text-align: center;
    align-items: center;
    margin-top:60px;
}
#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
#navbar .navbar-item {
    margin: 0 1em;
}

/* SLIDER */
#slider{
    margin-top: 8em;
    margin-bottom: 1em;
}

#slider .carousel-caption{
    bottom: 3em;
}

#slider .carousel-caption h3{
    font-size: 2.5em;
    text-shadow: #000 2px 2px;
}

#imgC{
    margin: auto;
    width: 50%;
    border: #000 solid 5px;
}

.btn {
    border-radius:20;
    background-color: #000000;
}

#slider .btn{
    padding: .3em .8em;
    font-size: 1em;
    margin-top: 1em;
}

.carousel-control-prev i,
.carousel-control-next i {
    color: #111;
    font-size: 3em;
}
.carousel-indicators [data-bs-target]{
    background-color: #222;
    opacity: 0.8;
}
.carousel-indicators .active{
    background-color: #000;
}

@media(min-width: 768px){
    #slider .carousel-caption{
        bottom: 15em;
    }

    #slider .carousel-caption h3{
        font-size: 4em;
        text-shadow: #000 2px 3px;
    }

    #slider .btn{
        padding: 0.6 1.6em;
        font-size: 1.3em;
    }

    .carousel-indicators{
        bottom: 7em;
    }
}

/*Mini Banners*/
#mini-banners .card{
    padding: 2em;
    border-radius: 40px;
    margin-bottom: 1em;
}

#mini-banners .card-title{
    margin-top: 1em;
}

#mini-banners i{
    font-size: 4em;
}

#mini-banners .card-title{
    margin-top: 1em;
}

#mini-banners btn{
    margin-top: 1.5em;
    padding: .6em 1.2em;
}

@media (min-width: 768px){
    #mini-banners{
        margin-top: 5em;
    }
}

/*Destaques*/
#featured-container{
    margin-top: 4em;
}

.title{
    font-size: 1.75em;
    margin-bottom: .4em;
    position: relative;
    margin-top: 1.5em;
}

.title:before{
    width: 75px;
    border-top: 4px solid #7a7a7a;
    content: "";
    position: absolute;
    bottom: 2em;
}

#featured-images{
    margin-top: 2em;
}

#featured-images .col-md-4{
    position: relative;
    cursor:pointer;
}

#featured-images .col-md-4:hover > .banner-content{
    opacity: 0.7;
}

#featured-images .banner-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: .5;
    transition: .5s;
}

@media(min-width: 768px){
    .title{
        font-size: 2.4em;
    }

    .title:before{
        bottom: 1.5em;
    }

    #featured-images .banner-content{
        opacity: 0;
    }
}

/*Info*/
#info-content{
    margin-bottom: 4em;
    padding: 1.5em;
}

#info-numbers{
    margin: 1.5em 0;
}

#info-banner{
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;
}

#info-numbers h3{
    font-size: 3em;
}

@media(min-width: 768px){
    #info-content{
        padding: 3.5em;
    }
}

/*Footer Top*/
#footer{
    padding: 3em 2em;
}

#footer-top{
    margin-bottom: 2em;
}

#footer-top,
#footer-top i{
    color: rgb(0, 0, 0);
}

#social-icons{
    text-align: left;
    text-decoration: none;
}

#social-icons i{
    margin-right: 1em;
    font-size: 1.2em;
    cursor: pointer;
}

#social-icons i:hover{
    color: #7a7a7a;
}

/*Footer Details*/
#footer-details{
    margin-bottom: 3em;
}

#news-container,
#contact-container,
#contact-container a,
#links-container{
    padding: 0;
    border: 0;
    margin-bottom: 2em;
    text-decoration: none;
}

#footer-details h4{
    color: rgb(5, 5, 5);
    margin-bottom: 1em;
    font-weight: bold;
}

#new-container input{
    border-radius: 0;
    border: none;
}

#link-container li{
    margin-bottom: .5em;
}

#links-container a{
    text-decoration: none;
}

#links-container a:hover{
    color: #fff;
}

/*Footer Bottom*/
#footer-bottom{
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
}

#footer-bottom i{
    color: #e61e10;
    margin-left: .3em;
}

@media(min-width:768px){
    #news-container{
        padding-right: 2em;
    }

    #links-container{
        padding-left: 2em;
    }

    #contact-container{
        padding: 0 2em;
        border-left: 1px solid #7a7a7a;
        border-right: 1px solid #7a7a7a;
    }
}